.main_cta {
  background-image: url("../image/escola.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 100%;
  height: 31.9em;
  width: 100%;
}

.main_cta_fundo {
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 1, 0.55);
}

.main_header {
  width: 100%;
}

.main_header:hover {
  background-color: #020201;
}

.main_header_content {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
}

.main_header_content .logo {
  flex-basis: 168px;
  padding: 20px;
  width: 128px;
}

.main_header_content_menu {
  flex-basis: calc(100% - 168px);
  display: flex;
  justify-content: flex-end;
}

.main_header_content_menu ul {
  display: flex;
  align-items: center;
}

.main_header_content_menu ul li {
  display: flex;
}

.main_header_content_menu ul li a {
  color: #ffffff;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 16.69px;
}

.main_header_content_menu ul li a:hover {
  text-decoration: underline;
}

/* Corpo */
.main_body {
  width: 100%;
  display: flex;
}

.main_body_content {
  max-width: 1170px;
  margin: 0 auto;
}

.main_body_content>header {
  max-width: 56em;
  font-family: archive;
  text-align: center;
  margin: 0 auto;
  padding: 80px;
}

.main_body_content>header h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 39.38px;
  padding: 80px;
}

.main_body_content>header p {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 25.31px;
  padding-bottom: 80px;
}

.main_body_content_article {
  max-width: 1170px;
  margin: 0 auto;
}

.main_body_content_article_visao {
  display: flex;
  padding: 0 20px;
}

.main_body_content_article_visao header {
  flex-basis: 468px;
  margin: 80px 0;
  background-color: #020201;
}

.main_body_content_article_visao_menu ul {
  flex-basis: 85%;
  text-align: center;
  padding: 100px;
}

.main_body_content_article_visao_menu ul li {
  list-style: none;
  padding: 20px;
}

.main_body_content_article_visao_menu ul li a {
  color: #ffffff;
}

.main_body_content_article_visao_menu ul li a h2 {
  font-weight: 700;
  font-size: 1.625em;
}

.main_body_content_article_visao_menu ul li a h2:hover {
  text-decoration: underline 5px;
}

.main_body_content_article_visao article {
  flex-basis: calc(100% - 468px);
  padding: 80px 0;
}

.main_body_content_article_visao article p {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 25.31px;
  padding: 40px;
}

.responsabilidade_content {
  display: flex;
  padding: 80px 20px;
}

.responsabilidade_content_social header {
  max-width: 400px;
  margin: 0 20px;
}

.responsabilidade_content_social header h2 {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 36.56px;
  padding-bottom: 4px;
}

.responsabilidade_content_social p {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 25.31px;
  padding: 0 20px;
  text-align: left;
}

.compromisso_content {
  display: flex;
  padding: 80px 20px;
}

.compromisso_content_right {
  padding-left: 40px;
}

.compromisso_content_right header h2 {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 36.56px;
  padding-bottom: 20px;
}

.compromisso_content_right p {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 25.31px;
}

.equipa_content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 0;
}

.equipa_content header h1 {
  font-weight: 700;
  font-size: 2.625em;
  line-height: 36.56px;
  text-align: center;
}

.equipa_content_equipe {
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
  display: flex;
}

.equipa_content_equipe article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(33.33% - 20px);
  margin: 80px 0;
}

.equipa_content_equipe article img {
  width: 100%;
}

.equipa_content_equipe article h2 {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 25.31px;
  margin: 20px 20px 8px 20px;
  padding-bottom: 2px;
  border-bottom: solid #020201 5px;
}

.equipa_content_equipe article p {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 25.31px;
  margin: 0 20px;
}

/*Contacto*/

.main_contacto {
  width: 100%;
  background-color: #020201;
  ;
}

.main_contacto_content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 20px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_contacto_content header {
  text-align: center;
  flex-basis: 100%;
}

.main_contacto_content header h1 {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 36.56px;
  margin-bottom: 40px;
}

.main_contacto_content header p {
  font-weight: 500;
  font-size: 1em;
  line-height: 22.5px;
  margin-bottom: 80px;
}

.main_contacto_content_localizacao {
  flex-basis: 50%;
}

.main_contacto_content_localizacao ul li {
  font-weight: 500;
  font-size: 1em;
  Line-height: 22.5px;
  padding: 20px 0;
  margin: 0 0 0 20px;
}

.main_contacto_content_localizacao ul p {
  font-weight: 400;
  font-size: 1em;
  Line-height: 22.5px;
}

.main_contacto_content_mensagem {
  max-width: 50%;
}

.main_contacto_content_mensagem form {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.main_contacto_content_mensagem form>p {
  flex-basis: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main_contacto_content_mensagem form .top [type="text"],
.main_contacto_content_mensagem form .top [type="email"] {
  width: calc(50% - 20px);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #fff;
  padding: 0 0 10px 2px;
  color: #fff;
  background-color: #020201;
}

.main_contacto_content_mensagem form p [type="text"] {
  width: 100%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #fff;
  padding: 0 0 10px 2px;
  color: #fff;
  background-color: #020201;
}

.main_contacto_content_mensagem form textarea {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #fff;
  padding: 0 0 10px 2px;
  color: #fff;
  background-color: #020201;
}

.main_contacto_content_mensagem form div {
  flex-basis: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.main_contacto_content_mensagem form div button {
  border: 0 none;
  outline: 0;
  padding: 10px 40px;
  color: #020201;
  background-color: #fff;
}

/*Footer*/

.main_footer {
  width: 100%;
  flex-shrink: 0;
  background-color: #020201;
}

.main_footer_content {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}

.main_footer_content>header h1 {
  padding: 10px;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 16.69px;
}

.main_footer_content_menu {
  display: flex;
}

.main_footer_content_menu ul {
  display: flex;
  align-items: stretch;

}

.main_footer_content_menu ul li {
  display: flex;
  list-style: none;
  align-items: center;
}

.main_footer_content_menu ul li a {
  color: #ffffff;
  padding: 2px 10px;
}

.main_footer_content_menu ul li a:hover {
  border-bottom: #ffffff 1px solid;
}