* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: none;
  font-family: archivo;
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.625em;
}

p {
  text-align: justify;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.581875em;
}

/*
menu desktop
*/

.main_cta_fundo,
.main_pages_cta_fundo {
  flex-basis: 100%;
  background: rgba(2, 2, 1, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main_header,
.main_pages_header {
  width: 100%;
}

.main_header:hover,
.main_pages_header:hover {
  background-color: #020201;
  height: fit-content;
}

.main_header_content,
.main_pages_header_content,
.main_schooll_body,
.main_portifolio_body_content,
.main_schooll_body_content,
.main_body_content,
.main_school_contact_content,
.main_schooll_body_content_article_visao,
.main_school_contact_content,
.schooll_responsabilite_content,
.school_compromiss_content,
.school_time_content {
  max-width: 73.125em;
  display: flex;
  margin: 0 auto;
}

.main_header_content .logo,
.main_pages_header_content .logo {
  width: 8em;
  padding: 1.25em;
}

.main_header_content_menu,
.main_pages_header_content_menu {
  flex-basis: calc(100% - 8em);
  display: flex;
  justify-content: flex-end;
}

.main_header_content_menu ul,
.main_pages_header_content_menu ul {
  display: flex;
  align-items: center;
}

.main_header_content_menu ul li,
.main_pages_header_content_menu ul li {
  display: flex;
  justify-content: space-around;
}

.main_header_content_menu ul li a,
.main_pages_header_content_menu ul li a {
  color: #ffffff;
  padding: 0.5em 0.625em;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 16.69px;
}

.main_header_content_menu ul li a:hover,
.main_pages_header_content_menu ul li a:hover {
  text-decoration: underline;
}

/* Footer */

.main_footer,
.main_pages_footer {
  display: flex;
  width: 100%;
}

.main_pages_footer {
  background-color: #020201;
}

.main_footer:hover {
  background-color: #020201;
}

.main_footer_content {
  max-width: 73.125em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #ffffff;
}

.main_footer_content>header h1 {
  padding: 0.625em;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.043125em;
}

.main_footer_content_menu {
  display: flex;
}

.main_footer_content_menu ul {
  display: flex;
  align-items: stretch;

}

.main_footer_content_menu ul li {
  display: flex;
  list-style: none;
  align-items: center;
}

.main_footer_content_menu ul li a {
  color: #ffffff;
  padding: 0.125em 0.625em;
}

.main_footer_content_menu ul li a:hover {
  border-bottom: #ffffff 1px solid;
}