* {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: none;
  font-family: archivo;
}

.ds_none {
  display: none !important;
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.625em;
}

p {
  text-align: justify;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.581875em;
}

button {
  font-size: 1.1em;
  font-weight: 600;
}

.select {
  border-bottom: #020201 1px solid;
  text-decoration: none !important;
}

.select1 {
  border-bottom: #fff 1px solid;
  text-decoration: none !important;
}

/*
menu desktop
*/

.main_cta_fundo,
.main_pages_cta_fundo {
  flex-basis: 100%;
  background: rgba(2, 2, 1, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main_header,
.main_pages_header,
.project_header {
  width: 100%;
}

.main_header:hover,
.main_pages_header:hover {
  background-color: #020201;
  height: fit-content;
}

.main_header_content,
.main_pages_header_content,
.main_schooll_body,
.main_portifolio_body_content,
.main_schooll_body_content,
.main_body_content,
.main_school_contact_content,
.main_schooll_body_content_article_visao,
.main_school_contact_content,
.main_project_header_content,
.main_project_header_content,
.main_project_content,
.main_body_content,
.schooll_responsabilite_content,
.school_compromiss_content,
.school_time_content {
  max-width: 73.125em;
  display: flex;
  margin: 0 auto;
}

.main_header_content .logo,
.main_pages_header_content .logo,
.main_project_header_content .logo {
  width: 8em;
  padding: 1.25em;
}

.main_header_content_menu,
.main_pages_header_content_menu,
.main_project_header_content_menu,
.main_header_content_menu_mobile {
  flex-basis: calc(100% - 8em);
  display: flex;
  justify-content: flex-end;
}

.main_header_content_menu ul,
.main_pages_header_content_menu ul,
.main_project_header_content_menu ul,
.main_project_header ul,
.main_header_content_menu_mobile ul {
  display: flex;
  align-items: center;
}

.main_header_content_menu ul li,
.main_pages_header_content_menu ul li,
.main_project_header_content_menu ul li,
.main_project_header ul li {
  display: flex;
  justify-content: space-around;
}

.main_header_content_menu ul li a,
.main_pages_header_content_menu ul li a,
.main_project_header_content_menu ul li a,
.main_project_header ul li a {
  color: #ffffff;
  padding: 0.5em 0.625em;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 16.69px;
}

.main_project_header_content_menu ul li a,
.main_project_header ul li a {
  color: #020201;
}

.main_header_content_menu ul li a:hover,
.main_pages_header_content_menu ul li a:hover,
.main_project_header_content_menu ul li a:hover,
.main_project_header_content_menu ul li a:hover,
.main_project_header ul li a:hover {
  text-decoration: underline;
}

/*
menu mobile
*/
.main_header_content_menu_mobile ul {}

.main_header_content_menu_mobile ul li {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
}

.main_header_content_menu_mobile_obj {
  display: flex;
  align-items: center;
  padding: 1.25em;
  font-weight: 700;
  font-size: 1.625em;
  color: #fff;
  transition: 0.5s;
  transition-property: color;
}

.main_header_content_menu_mobile_obj:hover,
.main_header_content_menu_mobile_obj_active {
  background-color: #fff;
  color: #020201;
}

.main_header_content_menu_mobile_sub {
  width: 18.75em;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: flex-end;
  top: 100%;
  right: 0;
}

.main_header_content_menu_mobile_sub li {
  flex-basis: 100%;
  line-height: 3em;
}

.main_header_content_menu_mobile_sub li a {
  width: 100%;
  text-align: center;
  color: #020201;
}

.main_header_content_menu_mobile_sub li a:hover {
  color: #fff;
  background-color: #020201;
}

/* Footer */

.main_footer,
.main_pages_footer {
  display: flex;
  width: 100%;
}

.main_pages_footer {
  background-color: #020201;
}

.main_footer:hover {
  background-color: #020201;
}

.main_footer_content {
  max-width: 73.125em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #ffffff;
}

.main_footer_content>header h1 {
  padding: 0.625em;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.043125em;
}

.main_footer_content_menu {
  display: flex;
}

.main_footer_content_menu ul {
  display: flex;
  align-items: stretch;

}

.main_footer_content_menu ul li {
  display: flex;
  list-style: none;
  align-items: center;
}

.main_footer_content_menu ul li a {
  color: #ffffff;
  padding: 0.125em 0.625em;
}

.main_footer_content_menu ul li a:hover {
  border-bottom: #ffffff 1px solid;
}