.main_cta {
  width: 100%;
  background-image: url(../image/Overlay.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 100%;
  height: 100vh;
}

.main_school_cta {
  display: flex;
  flex-basis: 100%;
  background-image: url(../image/escola.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 31.25em;
}

.main_portifolio_cta {
  display: flex;
  flex-basis: 100%;
  background-image: url(../image/portifolio.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 31.25em;
}

/*Body*/

.main_body_content {
  flex: 1 0 auto;
  margin: 0 auto;
}

.main_body_content section {
  width: 100%;
  display: flex;
  color: #ffffff;
}

.main_body_content section .left {
  flex-basis: 25em;
  padding: 20px;
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
}

.main_body_content section .left h1 {
  flex-basis: 100%;
  font-weight: 700;
  font-size: 1.75em;
  margin-bottom: 0.625em;
}

.main_body_content section .left p {
  font-weight: 400;
  font-size: 1.125em;
  text-align: justify;
  line-height: 1.581875em;
  flex-basis: 100%;
}

.main_body_content section .right {
  max-width: 73.125em;
  display: flex;
  flex-basis: calc(100% - 25em);
  justify-content: flex-end;
  align-self: flex-end;
  padding-bottom: 1.25em;
}

.main_body_content section .right h1 {
  font-weight: 400;
  font-size: 1.175em;
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-self: center;
}

.main_body_content section .right span {
  font-size: 2em;
  padding: 0 0.625em;
  color: #00ed96;
}

.main_body_content section .right span:hover {
  cursor: pointer;
}

/*
School body
*/
.main_schooll_body_content header p {
  text-align: center;
  max-width: 56.25em;
  margin: 0 auto;
  padding: 2.5em 1.25em;
}

.main_schooll_body_content_article_visao,
.schooll_responsabilite_content,
.school_compromiss_content,
.school_time_content,
.main_school_contact_content {
  padding: 2.5em 1.25em;
}

.main_schooll_body_content_article_visao header {
  width: 31.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020201;
  height: 25em;
  flex: 1 0 auto;
}

.main_schooll_body_content_article_visao_menu ul li {
  list-style: none;
  padding: 1.25em;
}

.main_schooll_body_content_article_visao_menu ul li h2 {
  color: #ffffff;
  text-align: center;
}

.main_schooll_body_content_article_visao article {
  flex-basis: calc(100% - 31.25em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.schooll_responsabilite_content_social p {
  flex-basis: 100%;
  padding: 0 2.5em 0 0;
}

.main_schooll_body_content_article_visao article p,
.school_compromiss_content_right p {
  flex-basis: 100%;
  padding: 0 0 0 2.5em;
}

.schooll_responsabilite_content_social header h2 {
  padding: 0 1.25em 0.625em 0;
  text-align: center;
}

.school_compromiss_content_right header h2 {
  text-align: center;
  padding: 0 0 0.625em 1.25em;
}

.school_time_content {
  padding: 2.5em 1.25em;
  flex-wrap: wrap;
}

.school_time_content header {
  align-items: center;
}

.school_time_content_time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.school_time_content_time article {
  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.25em 0;
}

.school_time_content_time article img {
  margin-bottom: 1.25em;
  max-width: calc(100% - 0.5em);
}

.main_school_contact {
  background-color: #020201;
  color: #ffffff;
}

.main_school_contact_content {
  flex-wrap: wrap
}

.main_school_contact_content header {
  flex-basis: 100%;
  padding-bottom: 2.5em;
  text-align: center;
}

.main_school_contact_content header h1 {
  padding: 1em;
}

.main_school_contact_content header p {
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  padding: 1.25em 0;
}

.main_school_contact_content_localization {
  flex-basis: 50%;
}

.main_school_contact_content_localization ul li {
  padding: 0.625em;
}

.main_school_contact_content_localization ul p {
  padding: 1.25em;
}

.main_school_contact_content_mensage {
  flex-basis: calc(100% - 50%);
}

.top,
.medio,
textarea {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.top input[type=text],
.top input[type=email],
.medio input[type=text],
textarea {
  color: #fff;
  background-color: #020201;
  flex-basis: calc(50% - 1.25em);
  border-bottom: 0.125em solid #25251f;
  margin-bottom: 1.25em;
}

.medio input[type=text] {
  flex-basis: 100%;
}

textarea {
  width: 100%;
}

.main_school_contact_content_mensage form div {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
}

.main_school_contact_content_mensage form div button[type=submit] {
  color: #020201;
  background-color: #fff;
  padding: 0.825em 1.625em;
  border-radius: 0.125em;
  -moz-border-sizing: 0.625em;
  -webkit-border-sizing: 0.625em;
}

.main_school_contact_content_mensage form div button[type=submit]:hover {
  color: #25251f;
}

/*
portifolio body
*/
.main_portifolio_cta {
  width: 100%;
}

.main_portifolio_body_content,
.main_schooll_body_content,
.main_body_content {
  flex-wrap: wrap;
  padding: 5em 0;
}

.main_body_content {
  padding: 0.625em 0;
}

.main_portifolio_body_content header,
.main_schooll_body_content header {
  text-align: center;
  margin: 0 auto;
}

.main_portifolio_body_content_projecto {
  display: flex;
  flex-basis: 100%;
  padding: 2.5em 1.25em;
}

.arquiteture_left,
.urbanismo_left,
.designInteiro_left,
.avaliacaoImobiliaria_left {
  width: 36.5625em;
  flex-basis: 100%;
  display: flex;
  background-image: url(../image/Arquiteture.jpeg);
  height: 35em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 1 0 auto;
}

.urbanismo_left {
  background-image: url(../image/urbanismo.jpeg);
}

.designInteiro_left {
  background-image: url(../image/designDeInterior.jpeg);
}

.avaliacaoImobiliaria_left {
  background-image: url(../image/avaliacaoImobiliaria.jpeg);
}

.arquiteture_left div,
.urbanismo_left div,
.designInteiro_left div,
.avaliacaoImobiliaria_left div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.arquiteture_left h2,
.urbanismo_left h2,
.designInteiro_left h2,
.avaliacaoImobiliaria_left h2 {
  color: #ffffff;
  padding: 0 2.5em;
}

.arquiteture_right,
.urbanismo_right,
.designInteiro_right,
.avaliacaoImobiliaria_right {
  display: flex;
  align-items: center;
}

.arquiteture_right p,
.urbanismo_right p,
.designInteiro_right p,
.avaliacaoImobiliaria_right p {
  padding: 0 2.5em;
  text-align: left;
}

/**/

.paisagismo_left,
.designIndutrial_left,
.fiscalizacaoProjecto_left {
  display: flex;
  align-items: center;
  justify-items: flex-end;
}

.paisagismo_left p,
.designIndutrial_left p,
.fiscalizacaoProjecto_left p {
  padding: 0 2.5em;
  text-align: left;
}

.paisagismo_right,
.designIndutrial_right,
.fiscalizacaoProjecto_right {
  width: 36.5625em;
  flex-basis: 100%;
  display: flex;
  background-image: url(../image/paisagismo.jpeg);
  height: 35em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex: 1 0 auto;
}

.designIndutrial_right {
  background-image: url(../image/designIndustrial.jpeg);
}

.fiscalizacaoProjecto_right {
  background-image: url(../image/fiscalizacaoProjeto.jpeg);
}

.paisagismo_right div,
.designIndutrial_right div,
.fiscalizacaoProjecto_right div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.paisagismo_right h2,
.designIndutrial_right h2,
.fiscalizacaoProjecto_right h2 {
  max-width: 18em;
  color: #ffffff;
  padding: 0 2.5em;
}

.main_project_header {
  margin: 0 auto;
}

.main_project_content {
  flex-basis: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fundo_interior,
.fundo_arquitectura,
.fundo_paisagismo,
.fundo_urbanismo,
.fundo_industrial,
.fundo_avaliacao {
  width: 23.5em;
  height: 16.875em;
  margin: 1.25em 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: flex-end;
  flex-wrap: wrap;
}

.fundo_interior {
  background-image: url(../image/designDeInterior2.jpg);
}

.fundo_arquitectura {
  background-image: url(../image/Arquiteture.jpeg);
}

.fundo_paisagismo {
  background-image: url(../image/paisagismo.jpeg);
}

.fundo_urbanismo {
  background-image: url(../image/urbanismo2.jpg);
}

.fundo_industrial {
  background-image: url(../image/designIndustrial2.jpg);
}

.fundo_avaliacao {
  background-image: url(../image/avaliacaoImobiliaria2.jpg);
}

.designInterior {
  display: flex;
  width: 23.5em;
  height: 16.875em;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  padding: 1.625em 2.5em;
}

.designInterior h1 {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.0625;
  letter-spacing: 0em;
}

.designInterior h2 {
  font-size: 1.5625em;
  font-weight: 400;
  line-height: 2.1875em;
}

.designInterior a {
  color: #fff;
  padding-top: 0.125em;
  flex-basis: 100%;
}

.designInterior:hover {
  background-color: #0f3260bf;
}

@media (max-width:38em) {

  .main_body_content section {
    max-width: 73.125em;
    flex-wrap: wrap;
    align-content: center;
  }

  .main_body_content section .left {
    flex-basis: 100%;
  }

  .main_body_content section .left p {
    font-weight: 300;
  }

  .main_body_content section .right {
    flex-basis: 100%;
    padding-bottom: 0;
  }

  .main_body_content section .right h1 {
    font-weight: 300;
    font-size: 1em;
    margin: 0 0.625em;
    align-content: center;
  }

  .main_body_content section .right span {
    font-size: 1.625em;
    padding: 0 0.625em;
    color: #00ed96;
  }

}

@media (max-width: 27.25em) {
  .main_header_content_menu {
    display: none !important;
  }

  .main_header_content_menu_mobile {
    display: flex !important;
  }

  .main_body_content section .left h1 {
    font-size: 1.3em;
  }

  .main_body_content section .left p {
    font-size: 1em;
  }

  .main_body_content section .right {
    align-content: flex-end;
    justify-content: flex-end;
  }
}